@page
@model _WEB315_Summer22_ThemeDriving.Pages_ThemeDriving.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ThemeDriving</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeDriving.CarModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemeDriving.CarModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeDriving.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemeDriving.BookingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeDriving.Route)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemeDriving.Route)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeDriving.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemeDriving.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ThemeDriving.distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThemeDriving.distance)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ThemeDriving.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
